<div class = "container">
    <h3>Portfolio Details !!</h3>
    <br/><br/>
    <form [formGroup] = "portfolioRef" (ngSubmit) = "contactInfo()" class = "formcontrol">
        <label class ="formcontrol col-2"> Contact Name</label>
        <input typpe = "text" formControlName  = "contactname" class ="formcontrol col-2" /><br/>
        <br/>
        <label class ="formcontrol col-2"> Phone Number</label>
        <input type = "number" formControlName = "phoneno" class ="formcontrol col-2"/><br/>
        <br/>
        <input type = "submit" value = "Save" class ="formcontrol col-1"/>
        <br/><br/>

       <table id = "PortfolioDetails">
                <tr>
                    <th>Contact Name</th>
                    <th>Phone Number </th>
                </tr>
                <tr *ngFor = "let port of portfoliodetails">
                    <td>{{port.contactname}}</td>
                    <td>{{port.phoneno}}</td>
                </tr>
        </table>
    </form>
   {{msg}}
</div>