<div class = "container">
    <br/><br/>
    <h3>Sign Up !!</h3>
    <form [formGroup] = "signupRef" (ngSubmit) = "registerUser()">
        <label class ="formcontrol col-2"> FirstName </label>
        <input typpe = "text"formControlName = "fname" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2"> LastName </label>
        <input typpe = "text"formControlName = "lname" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2">  UserName </label>
        <input type = "text" formControlName = "registerUser" class ="formcontrol col-2"/><br/>
        <br/>
        <label class ="formcontrol col-2">Password</label>
        <input type = "password" formControlName = "registerPass" class ="formcontrol col-2"/><br/>
        <br/>
        <input type = "submit" value = "Register" class ="formcontrol col-1"/>
        <br/><br/>
        <input type = "reset" value ="Reset" class ="formcontrol col-1"/>
    </form>
</div>