<div class ="container">
   
    <br/><br/>
    <h3>Login Here !</h3>
    <br/>
    <form [formGroup] = "loginRef" (ngSubmit) = "checkUser()" class = "formcontrol">
        <label class ="formcontrol col-2"> User Name </label>
        <input typpe = "text" formControlName = "user" class ="formcontrol col-2"/><br/><br/>
        <label class= "formcontrol col-2">Password</label>
        <input type = "password" formControlName = "pass" class ="formcontrol col-2"/><br/>
        <br/>
        <input type = "submit" value = "Login" class ="formcontrol col-1"/>
        <br/><br/>
        <input type = "button" value = "SignUp" (click)="Singnup()" class ="formcontrol col-1"/>
    </form>
   {{msg}}
</div>